# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Pycache
*pycache*

# pytest cache
*pytest_cache*

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
